@model IEnumerable<ManagementSystem.Models.ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Colaboradores</h1>

<p>
    <a asp-action="Create">Adicionar Colaborador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Unidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unity.Name)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a> 
            </td>
        </tr>
}
    </tbody>
</table>
